$brand_primary-colour: #20b786;

$colour_red: #ef3a3a;
$colour_blue: #1b71bb;

$color_main_grey: #d8d8d8;

$color_error: #ef3a3a;

$grey_1: #f7f7f7;
$grey_2: #ccc;
$grey_3: #858585;

$link_colour: #858585;
$link_colour__hover: $brand_primary-colour;


$colour_button: $brand_primary-colour;
$colour_button--hover: #e9f8f3;

$jquery-uniform-img-path: "../bower_components/jquery.uniform/dist/images/default";
