{% extends "authenticated.html" %}

{% block content %}
<div class="container-fluid mt-5 px-6">
<div class="row justify-content-center">

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">	
            <div class="col-md-12 pl-0">
                <h2 class="mb-4">Automated Task - Results Detail</h2>
            </div>
            
        </div>        
        {% if has_adwords_account %}
            {% load bootstrap4 %}
    
            <div class="row">
                    
                <div class="col-md-3 pl-0">
                    <h4>
                    Campaign <br />
                    {{res.campaign_name}}
                    </h4>
                </div>
                <div class="col-md-3 pl-0">
                    <h4>
                    Ad Group <br />
                    {{result.new_ad_group}}
                    </h4>
                </div>
                <div class="col-md-3 pl-0">
                    <h4>
                    Automated Task <br />
                    {{res.script_name}}
                    </h4>
                </div>
                <div class="col-md-2 pl-0 mb-5">
                    <div class="float-right">
                    <a class="btn" href="{% url 'report_scripts_results_detail' result.result_id %}">Back</a>
                    </div>
                </div>				

            </div>    
             

            
        {% else %}
            {% include 'reports/no_linked_adwords_account.html' %}
        {% endif %}  
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5">

        <div class="row">	
            <div class="col-md-12 pl-0">
                <h3 class="mb-4">Ad Type: {{result.ad_type}}</h3>
            </div>
            
        </div>

        <form method="post">

            {% csrf_token %}
            
            {% for field in form.visible_fields %}                    
                <div class="field-wrapper form-group {% if field.errors %} errors{% endif %}{% if field.id_for_label == 'id_target_cpa' %} left{% endif %}{% if field.id_for_label == 'id_target_conversion_margin' %} right{% endif %}">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">
                           {{ field.label }}

                            {% if field.help_text %}
                                <small>{{ field.help_text }}</small>
                            {% endif %}
                        </label>

                        {{ field }}
                           
                </div>
            {% endfor %}
            <input type="hidden" name="ad_type" value="{{result.ad_type}}" />

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 pt-3">   
                    <a href="{% url 'report_scripts_results_detail' result.result_id %}" class="btn btn-block">Cancel</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 pt-3">
                    <button type="submit" class="btn btn-block">Save</button>
                </div>
            </div>

        </form>
        </div>
    </div>
</div>
   
{% endblock content %}

{% block extra_js %}
    {{ form.media.js }}
    <script>
    $(document).ready(function() {   
        $('#id_keywords').addClass('form-control skipe_these');
       
    });
    </script>
{% endblock extra_js %}