{% extends "authenticated.html" %}

{% block content %}
<div class="container-fluid mt-5 px-6">
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">	
				<div class="col-md-12 pl-0">
					<h2 class="mb-4">Reports - Enabled</h2>
				</div>				
				<div class="col-md-3 pl-0" add-class-on-xs="pb-3">
					<a class="rlink border-bottom-0 {% if active_menu.report_scripts_schedules %}btn-active{% endif %} " href="{% url 'report_scripts_schedules' %}">Enabled</a>
				</div>
				<div class="col-md-3 pl-0">
					<a class="rlink border-bottom-0 {% if active_menu.report_scripts_results %}btn-active{% endif %}" href="{% url 'report_scripts_results' %}">Results</a>
				</div>	
				<div class="col-md-12 border-bottom-green mb-4"></div>		
			</div>      
           

			{% if has_adwords_account %}
				{% if table.data %}
					{% load render_table from django_tables2 %}
                    {% load bootstrap4 %}

					{% if filter %}
					
					<div class="{% if show_filter is None %} d-none{% endif %} " id="filter-content">
						<form action="" method="get">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
									<label for="input1">{{ filter.form.campaign.label_tag}}</label>
									{{ filter.form.campaign}}
								</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
									<label for="input2">{{ filter.form.script_name.label_tag}}</label>
									{{ filter.form.script_name}}
								</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
									<label for="input3">{{ filter.form.status.label_tag}}</label>
									{{ filter.form.status}}
								</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
									<label for="input4">{{ filter.form.created_at_from.label_tag}}</label>
									{{ filter.form.created_at_from}}
								</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
									<label for="input4">{{ filter.form.created_at_to.label_tag}}</label>
									{{ filter.form.created_at_to}}
								</div>
								</div>                                 
							</div>
						<div class="row mb-4">
							<div class="col-md-12 pl-0 mt-4">
								<div class="col-md-2 float-right ml-2 mb-2">
								<a href="{% url 'report_scripts_schedules' %}" class="btn ">Reset</a>
								</div>
								<div class="col-md-2 float-right mb-2">
								<input type="submit" name="search" class="btn " value="Apply Filter">
								</div>
							</div>
						</div>                        
				
						</form>  
					 </div>
					 <div class="row">
						<div class="col-md-12 mb-2">
						<div class="col-md-2 justify-content-md-center float-lg-right">
							<button class="btn btn-success collapsed " type="button" id="filter" data-toggle="collapse" data-target="#filter-content" aria-expanded="false">
								<i class="fa fa-filter"></i>  Filter
							</button>
						</div>
					</div>
					</div>
                    
                    {% endif %} 
                
                    <form method="post" action="{% url 'report_scripts_schedules_remove' %}" class="form-inline" onsubmit="return frmSubmit(this);">
                        {% csrf_token %}    
                        <div class="row">           
                            <div class="col-md-2 mb-4">
								<div class=" justify-content-md-center">
									<button type="submit" id="btn-submit" title="Remove" class="btn">Remove</button>
								</div>
                            </div>  
                        </div>
                        <div class="table-responsive">
                            {% render_table table %}
                        </div>
					</form>
				{% else %} 
					<p>No reports have been run.</p> 
				{% endif %}	
                   
                         
    {% else %}
        {% include 'reports/no_linked_adwords_account.html' %}
    {% endif %}
            </div>
        </div>
    </div>
   
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
 function toggle(source) {
            $("input[type=checkbox]").prop('checked', $(source).prop('checked'));
        }
        function frmSubmit() {
            if($("input[type=checkbox]:checked").length == 0) {
                alert("Choose at least one record");
                return false;
            }
            if(confirm('Are you sure?')) {
				return true;
			} else {
			    return false;
            }
        } 
        
  $(document).ready(function(){
    $("#filter").click(function(){
      $("#filter-content").toggleClass("d-block");
	});	
	$('.datepicker').datepicker({
      constrainInput: true,
      dateFormat: 'dd/mm/yy',
      maxDate: 0,
	});
	$("select").not(".skip_these").uniform();   
  }); 
</script>
{% endblock extra_js %}
